@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  h1 {
    @apply text-gray-900 dark:text-gray-100 text-xl sm:hover:text-2xl sm:cursor-pointer;
  }
}

@layer components {
  .news-input {
    @apply py-2 px-4 w-full max-w-lg rounded-lg outline-none bg-gray-200 dark:bg-[#252836] 
    placeholder:text-xs text-gray-900 dark:text-gray-200 
    focus:border-2 focus:border-[#3b82f6] dark:focus:border-[#6a1e55];
  }

  .news-button {
    @apply py-2 px-5 max-w-sm w-full bg-gray-400 dark:bg-[#1e293b] text-gray-900 dark:text-gray-200 
    rounded-lg transition-all duration-300 ease-in-out 
    hover:shadow-md hover:bg-gray-500 dark:hover:bg-[#2563eb];
  }

  .news-card {
    @apply p-6 bg-gray-100 dark:bg-[#1e1e2e] text-gray-900 dark:text-gray-100 
    sm:rounded-xl sm:shadow-md 
    transition-all duration-300 ease-in-out
    sm:hover:shadow-lg sm:hover:shadow-blue-500/50;
  }
}
